alias ..="cd .."
alias ....="cd ../.."
alias _ls="ls -alhFXp --color=always --group-directories-first" 
alias ll="ls -alhFXp --color=always --group-directories-first" 
alias _update="apt-get update && apt-get upgrade -y"
alias _updatedist="apt-get update && apt-get dist-upgrade -y"


alias show-externalip="dig +short myip.opendns.com @resolver1.opendns.com"
alias show-ip='hostname -I | tr " " "\n"'
#alias show-internalip="hostname -I"
alias pwgen="generate-password"



function generate-password() {
    local pwup="`env LC_CTYPE=C tr -dc "ABCDEFGHKLMNPRQSTUVWXYZ" < /dev/urandom | head -c 4`"
    local pwdown1="`env LC_CTYPE=C tr -dc "abcdefghikmnoprstuvwxyz" < /dev/urandom | head -c 4`"
    local pwdown2="`env LC_CTYPE=C tr -dc "abcdefghikmnoprstuvwxyz" < /dev/urandom | head -c 4`"
    local pwdigits="`env LC_CTYPE=C tr -dc "0123456789" < /dev/urandom | head -c 4` "
    echo ""
    printf "${pwup}-${pwdown1}-${pwdown2}-${pwdigits}"
    echo ""
    echo ""
}

get_macaddress() {
    ip=$1
    arp -a | grep "$ip" | grep -oE '([0-9A-Fa-f]{1,2}:){5}([0-9A-Fa-f]{1,2})' | head -n 1
}

