    function msg_info() {
    local msg="$1"
    local INFO="[i]  " 
    printf "%b ${msg}\\n" "${INFO}"
    }
    
    function update-dotfiles () {
local DOTHOME=$HOME
local DOTFILESHOME=$HOME/.dotfiles/
wget -q -O $DOTHOME/.bashrc https://raw.githubusercontent.com/pvscvl/linux/main/dotfiles/.bashrc
echo "Updated .bashrc"
msg_info "Updated .bashrc"
wget -q -O $DOTFILESHOME/.exports https://raw.githubusercontent.com/pvscvl/linux/main/dotfiles/.exports
wget -q -O $DOTFILESHOME/.functions https://raw.githubusercontent.com/pvscvl/linux/main/dotfiles/.functions
wget -q -O $DOTFILESHOME/.aliases https://raw.githubusercontent.com/pvscvl/linux/main/dotfiles/.aliases
echo "Dotfiles updates"
}

function generate-mac() {
    local INFO="[i]  "   
    local COL_BOLD='\e[1m' #bold
    local COL_NC='\e[0m' # No Color
    local COL_GREEN='\e[1;32m'
    local TICK="[${COL_GREEN}✓${COL_NC}]  "
    local GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')
    printf "%b Generating MAC-Address...\\n" "${INFO}"
    echo ""
    printf "%b ${GEN_MAC}" "${TICK}"
    echo ""
    echo ""
}

function generate-mac2() {
    
    local COL_NC='\e[0m' # No Color
    local COL_YELLOW='\e[0;33m'
    local WARN="[${COL_YELLOW}⚠${COL_NC}]  "
    local GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')
    printf "%b ${GEN_MAC}\\n" "${WARN}"
}

function generate-password() {
    local pwup="`env LC_CTYPE=C tr -dc "ABCDEFGHKLMNPRQSTUVWXYZ" < /dev/urandom | head -c 4`"
    local pwdown1="`env LC_CTYPE=C tr -dc "abcdefghikmnoprstuvwxyz" < /dev/urandom | head -c 4`"
    local pwdown2="`env LC_CTYPE=C tr -dc "abcdefghikmnoprstuvwxyz" < /dev/urandom | head -c 4`"
    local pwdigits="`env LC_CTYPE=C tr -dc "0123456789" < /dev/urandom | head -c 4` "
    echo ""
    printf "${pwup}-${pwdown1}-${pwdown2}-${pwdigits}"
    echo ""
    echo ""
}