function gen-mac() {
    GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')
    printf "$GEN_MAC"
}


TZE=(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')


GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')



    COL_NC='\e[0m' # No Color
    COL_LIGHT_GREEN='\e[1;32m'
    COL_LIGHT_RED='\e[1;31m'
    COL_LIGHT_GREY='\e[0;37m'
    COL_DARK_GREY='\e[1;30m'
    COL_PURPLE='\e[0;35m'
    COL_BLUE='\e[0;34m'
    COL_YELLOW='\e[0;33m'
    COL_CYAN='\e[0;36m'
    COL_CL=`echo "\033[m"` #zeilenumbruch
    COL_DIM='\e[2m' #dimmed 
    COL_ITAL='\e[3m' #italics
    COL_BOLD='\e[1m' #bold
    COL_UNDER='\e[4m' #underline
    TICK="[${COL_LIGHT_GREEN}✓${COL_NC}]  "
    QUEST="[${COL_PURPLE}?${COL_NC}]  "
    CROSS="[${COL_LIGHT_RED}✗${COL_NC}]  "
    INFO="[i]  "   
    DONE="${COL_LIGHT_GREEN} done!${COL_NC}"
    WARN="[${COL_YELLOW}⚠${COL_NC}]  "
    OVER="\\r\\033[K"


    function macgen1() {
        INFO="[i]  "   
        COL_BOLD='\e[1m' #bold
        COL_NC='\e[0m' # No Color
            COL_LIGHT_GREEN='\e[1;32m'
            TICK="[${COL_LIGHT_GREEN}✓${COL_NC}]  "
        local GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')
                #echo ""
        printf "%b Generating MAC-Address...\\n" "${INFO}"
                #printf "%b ${GEN_MAC}\\n" "${INFO}"
                 echo ""
        printf "%b ${GEN_MAC}" "${TICK}"
            echo ""
             echo ""
    }


function macgen2() {
    
        COL_NC='\e[0m' # No Color
        COL_YELLOW='\e[0;33m'
        WARN="[${COL_YELLOW}⚠${COL_NC}]  "
        local GEN_MAC=$(echo '00 13 37'$(od -An -N3 -t xC /dev/urandom) | sed -e 's/ /:/g' | tr '[:lower:]' '[:upper:]')
        printf "%b ${GEN_MAC}\\n" "${WARN}"
        }